html{
    background-color: #121212;
}
body{
    margin: 0;
}

#header{
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/hero.png");
    background-position: center;
    display: flex;
    color: white;
    font-family: 'Inter', sans-serif;    
    align-items: center;
    justify-content: space-between;
}

#header > p{
    padding-left: 50px;
    font-weight: 800;
    font-size: 45px;
}

#watchlist{
    padding-right: 50px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0.7px;
}

.search-wrap {
  position: relative;
  width: 70%;
}

.search-bar{
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.search-wrap input {
  width: 100%;
  height: 50px;
  background-color: #2e2e2e;
  border: none;
  border-radius: 6px;
  color: #A5A5A5;
  font-size: 20px;
  padding: 0 15px 0 45px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #a5a5a5;
  font-size: 18px;
  pointer-events: none;
}

.search-bar > button{
    width: 20%;
    background-color: #4B4B4B;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 0px 6px 6px 0px;
}

.hero-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.hero-center > img{
    height: 100px;
    width: 100px;
}

.hero-center > p{
    color: #2E2E2F;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;  
}

#mainCard{
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding-left: 5%;
}

#mainCard > img{
    width: 110px;
}

#cardContent{
    padding-left: 10px;
}

#title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.rating{
    font-size: 12px;
}

#titleHeading{
    font-size: 20px;
}

#highlightBox{
    display: flex;
    gap: 10px;
    font-size: 12px;
}

#highlightBox > button{
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

#description{
    color: #A5A5A5;
    font-size: 15px;
    font-weight: 200;
}